.order-list {
    display: flex;
    flex-direction: column;
}

.order-item {
    flex: auto;
    border: solid var(--primary);
    margin: 1rem;
    padding: 1rem;
}

.filter-bar {
    margin: 1rem;
}

.filter-info {
    margin: .5rem;
}
