  .navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--md-sys-color-primary-container);
    margin: 0;
    width: 100%;
    padding: 0.5rem;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
  }

  .navbar-link {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    color: var(--md-sys-color-on-primary-container);
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: var(--md-sys-color-primary);
  }
  
  footer {
      width: 100%;
      text-align: center;
  }
  
  .page-btn {
      margin: 1rem;
  }
